/* mixin */
/* keyframes*/
@keyframes movergradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes brillo-metal {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*variables*/
/* reseteo para todos los navegadores */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: slategray;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  font-family: monospace;
  font-size: x-large;
  background-color: black;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

footer {
  width: 100%;
  text-align: center;
  justify-content: center;
  max-width: 100%;
}

/*estilo navbar*/
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}
nav ul li {
  margin: 5px 0;
}
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: monospace;
}

.imagen-nav {
  width: 6%;
  height: 10%;
}

.avolver {
  font-weight: bold;
}

/* tipografias y fondos*/
.body-gradient {
  background-image: radial-gradient(circle, slategray, black);
}

h1 {
  font-size: x-large;
  font-family: monospace;
  font-weight: bold;
  background: linear-gradient(270deg, white, #888, gray);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: brillo-metal 9s ease infinite;
}

h2 {
  font-family: monospace;
  font-size: xx-large;
  font-weight: bold;
  color: whitesmoke;
}

.h2-animacion {
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  background: linear-gradient(270deg, white, #888, crimson);
  background-size: 800% 800%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: movergradiente 6s ease infinite;
}

p {
  font-family: monospace;
  font-size: xx-large;
  color: whitesmoke;
}

span {
  font-weight: bold;
}

/* estilo video*/
video {
  width: 60%;
  height: auto;
  border-radius: 5%;
  border: 4px solid darkslateblue;
}
video:hover {
  box-shadow: 0 -10px 28px darkblue;
  transition: all 1.2s ease;
}

.container-video {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.video-index {
  width: 35%;
  max-width: 800px;
  border-radius: 15px;
  border: 4px solid;
  box-shadow: 0 -10px 60px darkred;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.video-index:hover {
  box-shadow: 0 -10px 28px darkslateblue;
  transition: all 1.2s ease;
}

/*estilo contacto*/
.ubicacion {
  margin-top: 3%;
  width: 60%;
  height: auto;
  border-radius: 5%;
  border: 4px solid darkslateblue;
  box-shadow: 0 -10px 28px darkslateblue;
  transition: all 1.2s ease;
}
.ubicacion:hover {
  transform: scale(1.2);
  box-shadow: 0 -10px 28px darkred;
  transition: all 1.2s ease;
}

/*estilo carrousel e imagenes*/
.carousel {
  position: relative;
  width: 32%;
  border: 5px solid darkred;
}
.carousel:hover {
  box-shadow: 0 -10px 28px darkred;
  transition: all 1.2s ease;
}

.carousel-item img {
  pointer-events: none;
}

/*estilo formulario*/
form {
  width: 50%;
  margin: 10px auto;
  padding: 30px;
  background-color: whitesmoke;
  border: 4px solid darkslateblue;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
form:hover {
  box-shadow: 0 -10px 50px darkred;
  transition: all 1.2s ease;
}
form .form-check {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  margin-bottom: 0.5rem;
}
form .form-check .form-check-label {
  margin-left: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkslateblue;
  font-family: cursive;
  font-size: 1rem;
}

.form-label {
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: darkred;
  align-self: flex-start;
}

.btn-primary[type=submit] {
  padding: 10px 20px;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: monospace;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.btn-primary[type=submit]:hover {
  background-color: darkblue;
  color: aqua;
  transition: all 0.4s ease;
}

/* media queries*/
/* media queries celulares*/
@media (min-width: 320px) {
  body {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 100vw;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-top: 268px;
  }
}
/* Media query para tablets */
@media (min-width: 600px) {
  nav ul {
    max-width: 1023px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
  }
  body {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-top: 162px;
  }
  header,
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 92px;
  }
  header {
    flex-direction: row;
  }
  nav ul {
    justify-content: flex-end;
  }
}

/*# sourceMappingURL=styles.css.map */
